.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    color: #ffffff;
    background-color: #3FAF82;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

.menu {
    width: 80px;
    height: 52px;
    cursor: pointer;
}

.menu__line-1,
.menu__line-2,
.menu__line-3 {
    width: 100%;
    height: 8px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    transition: background-color .2s ease-in-out;
}

.menu__line-2 {
    margin: 14px 0;
}

.menu__line-1.animation {
    animation: animate-line-1-rev .7s ease-in-out;
}

.menu__line-2.animation {
    animation: animate-line-2-rev .7s ease-in-out;
}

.menu__line-3.animation {
    animation: animate-line-3-rev .7s ease-in-out;
}

.menu.active .menu__line-1 {
    animation: animate-line-1 .7s cubic-bezier(0.30, 1, 0.70, 1) forwards;
}

.menu.active .menu__line-2 {
    animation: animate-line-2 .7s cubic-bezier(0.30, 1, 0.70, 1) forwards;
}

.menu.active .menu__line-3 {
    animation: animate-line-3 .7s cubic-bezier(0.30, 1, 0.70, 1) forwards;
}


@keyframes animate-line-1 {
    0% {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }

    50% {
        transform: translate3d(0, 22px, 0) rotate(0);
    }

    100% {
        transform: translate3d(0, 22px, 0) rotate(45deg);
    }
}

@keyframes animate-line-2 {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes animate-line-3 {
    0% {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }

    50% {
        transform: translate3d(0, -22px, 0) rotate(0);
    }

    100% {
        transform: translate3d(0, -22px, 0) rotate(135deg);
    }
}

@keyframes animate-line-1-rev {
    0% {
        transform: translate3d(0, 22px, 0) rotate(45deg);
    }

    50% {
        transform: translate3d(0, 22px, 0) rotate(0);
    }

    100% {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
}

@keyframes animate-line-2-rev {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes animate-line-3-rev {
    0% {
        transform: translate3d(0, -22px, 0) rotate(135deg);
    }

    50% {
        transform: translate3d(0, -22px, 0) rotate(0);
    }

    100% {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
}